//Grid display for the quadrants
.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.4fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "quad1 quad2"
      "quad3 quad4";
  }
  
  .quad1 { grid-area: quad1; }
  
  .quad2 { grid-area: quad2; }
  
  .quad3 { grid-area: quad3; }
  
  .quad4 { grid-area: quad4; }

  //Cards for each quadrant
  .quad1, .quad2, .quad3, .quad4{
    background-color: #ffffff;
    flex-direction: column;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 15px;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .5);
    border-radius: 12px;
  }

  //Styling for the quadrant labels
  #quadlabels{
    align-items: center;
  }

  //Removes the dots from ul
  #quadlabels ul{
    list-style: none;
  }

  //Styling for the list items
  #quadlabels ul li {
    display:inline-block;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(45, 45, 45);
    padding: 10px;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px 25px 5px 25px;
  }
  
  //Styling for each label
  .urgent{
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
  }

  .notUrgent{
    background-color: rgb(77, 255, 0);
    border-color: rgb(77, 255, 0);
  }

  .important{
    background-color: rgb(255, 157, 0);
    border-color: rgb(255, 157, 0);
  }
  .notImportant{
    background-color: rgb(0, 115, 255);
    border-color: rgb(0, 115, 255);
  }
  