label.logo {
  font-weight: bold;
  color: black;
  font-size: 35px;
  float: left;
  padding-left: 1%;
  padding-top: 5px;
}

.topnav {
  background-color: #8BBBF3;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 65px;
}

.topnav ul {
  float: right;
  list-style: none;
  text-decoration: none;
  z-index: 999;
}

.topnav ul li {
  display: inline-block;
  margin-right: 25px;
}

.topnav ul li a {
  color: rgb(45, 45, 45);
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 25px;
  border-width: 5px 25px 5px 25px;
  text-decoration: none;
}

.topnav ul li a.active {
  font-weight: bold;
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}

.checkbutton{
  margin-right: 25px;
  float:right;
  font-size: 25px;
  color:white;
  cursor:pointer;
  display:none;
}

#check{
  display:none;
}

@media (max-width: 1250px){
  label.logo{
    font-size: 30px;
    margin-left: 15px;
    margin-top: -10px;
  }
  
  .topnav {
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 45px;
  }

  .topnav ul {
    margin-top: -20px;
  }
  .topnav ul li a{
    font-size: 15px;
    padding: 0px;
    border-style: none;
    border-radius: 0%;
  }
}

@media (max-width: 1250px){
  .checkbutton{
    display:block;
  }

  .topnav ul{
    background-color: white;
    position:fixed;
    width:100%;
    height: 100vh;
    top: 80px;
    left:-120%;
    text-align: left;
    transition: all .5s;
  }
  .topnav ul li{
    display:block;
    margin-top: 25px;
  }
  .topnav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left:0;
  }
}
