//Style for the entirety of the task list
#tasklist {
    list-style: none;
}

//Style to allow some spacing between the different inputs
.taskNameItem, .dueDateItem, .completionTimeItem, .estimatedTimeItem, .priorityRatingItem{
    padding:25px;
    font-size: 25px;
}

//Remove task button
.remove{
    float:right;
}

//Labels that appear below the "Tasks" heading
.tasklabels {
    background-color: #E0ECFA;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .5);
    border-radius: 12px;
}

// The popup form that is initially hidden until activated by the open button
.popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .3);
}

//Styles for the button that opens up the form
.open-button {
    display:block;
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 35px;
    right: 28px;
    width: 150px;
    border-radius: 10px;
}

// Style for the container that has all the inputs
.form-container {
    display:block;
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


// Style to give the inputs more width
.form-container input[type=text],
.form-container input[type=date],
.form-container input[type=time],
.form-container input[type=number] {
    width: 90%;
    padding: 15px;
    margin: 15px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

//Standalone style for the priority input
select {
    width: 70%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

//Style for the submit button
.form-container button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

//Style for the close button
.cancel {
    font-weight: bold;
    color:white;
    float:right;
    padding:5px;
    width: 20%;
    background-color: red;
}


//Card style for each task that is entered
.taskItem {
    font-size: 10px;
    display:block;
    background-color: #ffffff;
    position: relative;
    margin-top: 10px;
    padding-top: 15px;
    padding-left:15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .3);
    border-radius: 12px;
}

//Condition that occurs when the screen's width is below 1249px (nav bar buttons are too squished together)
@media (max-width: 1249px) {
    .open-button {
        text-align: center;
        font-weight: bold;
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        position: fixed;
        top: 85px;
        right: 28px;
        width: 75px;
        border-radius: 10px;
    }
}