//Styling for the stopwatch
.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  margin-top:10%;
  margin-bottom: -300px;
  padding-top: 25px;
}

//Styling for the stopwatch display (00:00:00)
.time {
  border-style: solid;
  border-radius: 25px;
  border-width: 5px 40px 5px 40px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  font-size: 48px;
}

//Styling for the stopwatch controls
.controls {
  display: flex;
  justify-content: space-between;
  width: 187px;
}

//Styling for all the buttons
button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

//Styling for the labels under the stopwatch display
.timelabel {
  color:black;
  font-weight: bold;
  text-align: center;
}

//Styling for the play button
#playButton {
  display: block;
  font-size: 56px;
}

//Styling for the pauce button
#pauseButton {
  display: none;
  font-size: 56px;
}

//Styling for the reset button
#resetButton{
  font-size:56px;
}