h1 {
  font-size: 48px;

  text-align: center;
  line-height: 59px;

  padding: 0 64px;
  margin: 0;
}

.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  margin-top:10%;
  margin-bottom: -300px;
  padding-top: 25px;
}

.time {
  border-style: solid;
  border-radius: 25px;
  border-width: 5px 40px 5px 40px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  font-size: 48px;
}

.controls {
  display: flex;
  justify-content: space-between;

  width: 187px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

.timelabel {
  color:black;
  font-weight: bold;
  text-align: center;
}

#playButton {
  display: block;
  font-size: 56px;
}

#pauseButton {
  display: none;
  font-size: 56px;
}

#resetButton{
  font-size:56px;
}